.container {
  display: flex;
  gap: 0.5rem;
}

.row {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
  align-items: center;
}

.space-between-right {
  justify-content: space-between;
}

.space-between-right:has(:only-child) {
  margin-left: auto;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 1rem;
}

.gap-lg {
  gap: 2rem;
}
