.container {
  display: flex;
}

.container:hover {
  color: var(--secondary-color);
}

.container:hover svg {
  fill: var(--secondary-color);
}

.border {
  padding: 0 6px;
  border: 1px solid var(--foreground);
}

.border:hover {
  border-color: var(--secondary-color);
}

.disabled {
  cursor: default;
}
