@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #b5d6e6;
  --foreground: #000000;

  --font-quicksand: 'Quicksand', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #b5d6e6;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.defaults {
  font-family: var(--font-quicksand);
  font-weight: 200;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
