@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f6f5d0;
  --foreground: #185a3c;

  --secondary-color: #9e0044;

  --font-quicksand: 'Quicksand', sans-serif;
  --font-bodoni-moda: 'Bodoni Moda', serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f6f5d0;
    --foreground: #185a3c;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.defaults {
  font-family: var(--font-quicksand);
  font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
