.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
  width: 100px;
}

.transition {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(circle, #b5d6e6 30%, #000 100%);
  transition: background 0.5s ease-in-out;
}

.circle {
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #b5d6e6;
}
